body {
    background-color: rgb(233, 233, 233);
}

#title, .subtitle, .post_title {
    color: rgb(109, 53, 0);
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: white;
    padding: 15px;
    border: 3px solid black;
    border-radius: 15px;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 25px;
}

.perfil_image {
    border-radius: 50%;
}